@model PROStats2019.Models.PaymentPost

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PaymentPost</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Referee1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Referee1.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Referee2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Referee2.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Referee3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Referee3.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Referee4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Referee4.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeeHD1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeeHD1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlowenceHD1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlowenceHD1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelDistanceHD1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelDistanceHD1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelCostHD1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelCostHD1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LateMatchStartHD1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LateMatchStartHD1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPaymentHD1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPaymentHD1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeeHD2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeeHD2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlowenceHD2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlowenceHD2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelDistanceHD2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelDistanceHD2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelCostHD2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelCostHD2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LateMatchStartHD2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LateMatchStartHD2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPaymentHD2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPaymentHD2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeeLD1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeeLD1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlowenceLD1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlowenceLD1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelDistanceLD1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelDistanceLD1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelCostLD1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelCostLD1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LateMatchStartLD1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LateMatchStartLD1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPaymentLD1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPaymentLD1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeeLD2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeeLD2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlowenceLD2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlowenceLD2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelDistanceLD2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelDistanceLD2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelCostLD2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelCostLD2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LateMatchStartLD2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LateMatchStartLD2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPaymentLD2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPaymentLD2)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
