@model IEnumerable<PROStats2019.Models.RefereeFee>

@{
    ViewData["Title"] = "Index";
}

<h1>Domararvoden 2019/2021</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FeeName)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.FeeValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FeeName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.FeeValue)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
